:root {
  --main-blue: rgb(44, 80, 241);
  --main-yellow:#ecc408;
  --main-font:"Open Sans", sans-serif;
  --main-shadow: 5px 10px rgba(0, 0, 0, 0.25);
  --small-shadow: 4px 5px rgba(0, 0, 0, 0.25);
}