@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
.how-to-play {
  background-color: #d8d8d8;
  border: 1px black solid;
  max-width: 1200px;
  /* height: 692px; */
  width: 70vw;
  text-align: center;
  padding: 0 32px 32px;
  border-radius: 10px;
  
}
.how-to-play__headline,
.how-to-play__text {
  font-family: "Open Sans", sans-serif;
}
.how-to-play__wrapper {
  display: flex;
  justify-content: space-between;
}
.how-to-play__headline {
  display: inline-block;
  font-size: 42px;
  margin: 40px auto 30px;
}
.how-to-play__photo-wrapper {
  width: 38%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.how-to-play__photo-wrapper > div {
  width: 100%;
  height: 48%;
  border: 1px black solid;
}
.how-to-play__text {
  font-size: 20px;
  margin: 0;
  width: 60%;
}

.how-to-play__close {
  position: absolute;
  right: 32px;
  top: 32px;
}
@media screen and (max-width: 1500px) {
  .how-to-play__text {
    font-size: 17px;
  }
}
@media screen and (max-width: 1200px) {
  .how-to-play__text {
    font-size: 16px;
  }
  .how-to-play {
    padding: 0 24px 24px;
    width: 90vw;
  }
  .how-to-play__headline {
    font-size: 38px;
    margin: 24px auto 16px;
  }

  .how-to-play__close {
    right: 20px;
    top: 16px;
  }
  .how-to-play__close > img {
    width: 60px;
  }
}
@media screen and (max-width: 768px) {
  .how-to-play__text {
    font-size: 12px;
  }
  .how-to-play {
    padding: 0 16px 16px;
  }
  .how-to-play__headline {
    font-size: 30px;
    margin: 16px auto 12px;
  }
  .how-to-play__close > img {
    width: 45px;
  }
}
@media screen and (max-width: 320px) {
  .how-to-play__photo-wrapper {
  display: none;
  
}
.how-to-play__wrapper {
  justify-content: center;
}
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
