.win {
  background-color: var(--main-blue);
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}
.win__img {
  width: 70%;
  max-width: 580px;
}
.win__headline {
  margin-bottom: 80px;
  font-size: 40px;
  color: #fff;
  font-family: var(--main-font);
  font-weight: 600;
}
.win__open-modal {
  margin-bottom: 60px;
  font-weight: 700;
  font-family: var(--main-font);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border: 5px solid #ffffff;
}
.win__open-modal:active {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
  top: 5px;
}
.win__btn {
  transform: skew(-10deg);
  background-color: var(--main-yellow);
  display: block;
  width: 350px;
  height: 144px;
  border-radius: 7px;
}
.win__btn:active {
  outline: none;
  transform: skew(-10deg);
}
.win__btn-text {
  display: block;
  transform: skew(10deg);
  font-size: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 800;
}
.win__content-wrapper {
  padding-top: 70px;
}
@media screen and (max-width: 1000px) {
  .win__btn {
  width: 250px;
  height: 100px;
}
.win__btn-text {
  font-size: 28px;
}
.win__img {
  max-width: 450px;
}
}@media screen and (max-width: 768px) {
  .win__btn {
  width: 170px;
  height: 80px;
}
.win__btn-text {
  font-size: 22px;
}
.win__img {
  width: 100%;
  max-width: 320px;
}.win__headline{
  font-size: 30px;
}
}
@media screen and (max-width:550px){
  .win__img {
    display: none;
  }
  .win__content-wrapper{
    margin: 0 auto;
  }
}
